@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .typo-h {
    @apply scroll-m-20 tracking-tight;
  }

  .typo-h1 {
    @apply typo-gradient-1-500 text-3xl font-extrabold md:text-4xl;
  }

  .typo-h2 {
    @apply typo-gradient-2-500 pb-2 text-2xl font-semibold first:mt-0 md:text-3xl;
  }

  .typo-h3 {
    @apply typo-gradient-2-500 text-xl font-semibold md:text-2xl;
  }

  .typo-p {
    @apply leading-7 text-neutral-600 [&:not(:first-child)]:mt-6;
  }

  .typo-large {
    @apply;
  }

  .typo-lead {
    @apply;
  }

  .typo-small {
    @apply;
  }

  .typo-muted {
    @apply text-sm text-neutral-500;
  }

  .typo-link {
    @apply typo-gradient-2-500 trans-delay-1 hover:typo-gradient-1-500 underline decoration-blue-400/40 decoration-2 underline-offset-2 transition hover:decoration-orange-400/40;
  }

  /* TYPO GRADIENT */
  .typo-gradient-1-500 {
    @apply gradient-1-500 bg-clip-text text-transparent;
  }

  .typo-gradient-2-500 {
    @apply gradient-2-500 bg-clip-text text-transparent;
  }
}

@layer components {
  /* GRADIENT 1 */
  .gradient-1-50 {
    @apply bg-gradient-to-br from-blue-50 via-purple-50 to-pink-50;
  }

  .gradient-1-100 {
    @apply bg-gradient-to-br from-blue-100 via-purple-100 to-pink-100;
  }

  .gradient-1-200 {
    @apply bg-gradient-to-br from-blue-200 via-purple-200 to-pink-200;
  }

  .gradient-1-300 {
    @apply bg-gradient-to-br from-blue-300 via-purple-300 to-pink-300;
  }

  .gradient-1-400 {
    @apply bg-gradient-to-br from-blue-400 via-purple-400 to-pink-400;
  }

  .gradient-1-500 {
    @apply bg-gradient-to-br from-blue-500 via-purple-500 to-pink-500;
  }

  /* GRADIENT 2 */
  .gradient-2-50 {
    @apply bg-gradient-to-br from-purple-50 via-red-50 to-orange-50;
  }

  .gradient-2-100 {
    @apply bg-gradient-to-br from-purple-100 via-red-100 to-orange-100;
  }

  .gradient-2-200 {
    @apply bg-gradient-to-br from-purple-200 via-red-200 to-orange-200;
  }

  .gradient-2-300 {
    @apply bg-gradient-to-br from-purple-300 via-red-300 to-orange-300;
  }

  .gradient-2-400 {
    @apply bg-gradient-to-br from-purple-400 via-red-400 to-orange-400;
  }

  .gradient-2-500 {
    @apply bg-gradient-to-br from-purple-500 via-red-500 to-orange-500;
  }
}

@layer components {
  .trans-delay-1 {
    @apply transition-all delay-75 duration-100 ease-in-out;
  }
}
