---
import { cn } from "@/lib/utils"
---

<div class={cn("rounded-xl border border-gray-200/60 bg-gray-100/40 p-4 my-8")}>
  <div class="not-prose">
    <h2 class={cn("typo-h typo-gradient-2-500 font-semibold", "text-lg")}>Extra Resources</h2>
    <p class="typo-muted">Suggested related resources for your to check out.</p>
  </div>
  <div class="!text-sm !text-neutral-600">
    <slot />
  </div>
</div>
