---
import Headless from "@/layouts/Headless.astro";

import { cn } from "@/lib/utils.js";
---

<Headless>
  <main>
    <section
      class="bg-gradient-to-b from-blue-100 via-purple-50 to-transparent"
    >
      <div
        class="container flex w-full flex-col items-center justify-center py-64"
      >
        <div>
          <h1 class={cn("typo-h typo-h1", "text-center")}>PeerTeachTech</h1>
          <p class="typo-p mt-4 max-w-lg text-center">
            Learn programming and web development with us. Explore learning
            resources and projects as well as read case studies and articles.
          </p>
        </div>
        <div class="py-12">
          <a href="/resources">
            <button
              class="hover group rounded-md border border-gray-400 bg-white shadow hover:bg-gray-50"
            >
              <div class="px-4 py-2">
                <span
                  class="group-hover:typo-gradient-2 font-semibold text-neutral-800"
                  >Get Started</span
                >
              </div>
            </button>
          </a>
        </div>
        <p class={cn("typo-p", "!mt-0")}>
          A <span class="typo-gradient-2 font-semibold">CHADWORKS</span>
           project.
        </p>
      </div>
    </section>

    <section>
      <div
        class="container flex max-w-4xl items-start justify-between gap-8 py-16"
      >
        <h2 class="typo-h typo-h2 w-1/2 text-right">What is PeerTeachTech</h2>
        <div class="w-1/2">
          <p class="typo-p">
            PeerTeachTech is a <span class="typo-gradient-1 font-semibold"
              >CHADWORKS</span
            > project to help you learn programming and web development through
            a series of workshops and lessons. We curate a list of resources and
            projects that you can use to learn and practice your skills.
          </p>
          <p class="typo-p">
            Our goal is to help you learn programming and web development, make
            topics easier to understand, and help you build your first project.
          </p>
          <p class="typo-p">
            There are a lot of resources available on the internet to teach you
            everything you need to know. What we'll do is curate a list of the
            best resources and projects. As well explain further the concepts
            and ideas behind programming and web development topics.
          </p>
        </div>
      </div>
    </section>

    <section>
      <div
        class="container flex max-w-4xl items-start justify-between gap-8 py-16"
      >
        <h2 class="typo-h typo-h2 w-1/2 text-right">Need more info?</h2>
        <div class="w-1/2">
          <p class="typo-p">
            If you have any questions, comments, or concerns, please feel free
            to reach out at
            <a
              href="mailto:contact@chadfernandez.me"
              target="_blank"
              rel="noopener noreferrer"
              class="typo-link font-medium">contact@chadfernandez.me</a
            >
          </p>
          <p class="typo-p">
            I&apos;m also open to any suggestions or feedback.
          </p>
        </div>
      </div>
    </section>
  </main>
</Headless>
