---
import { cn } from "@/lib/utils"
---

<header>
  <div class="container flex items-center justify-between py-4">
    <div class="">
      <a href="/" class={cn("typo-h typo-h3", "text-lg")}>PeerTeachTech</a>
    </div>
    <nav class="flex items-center justify-center gap-6">
      <a
        href="/"
        class="trans-delay-1 hover:typo-gradient-1-500 text-sm font-medium text-neutral-500">Home</a
      >
      <a
        href="/#learn"
        class="trans-delay-1 hover:typo-gradient-1-500 text-sm font-medium text-neutral-500"
        >Learn</a
      >
    </nav>
  </div>
</header>
