---
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"

import Root from "./Root.astro"

const { title } = Astro.props
---

<Root title={title ? `${title} - PeerTeachTech` : "PeerTeachTech by CHADWORKS"}>
  <div class="min-h-screen">
    <Header />
    <slot />
  </div>
  <Footer />
</Root>
