---
import Root from "./Root.astro";
import Footer from "@/components/Footer.astro";

const { title } = Astro.props;
---

<Root title={title ? `${title} - PeerTeachTech` : "PeerTeachTech by CHADWORKS"}>
  <div class="min-h-screen">
    <slot />
  </div>
  <Footer />
</Root>
